@include mobile {
  footer * {
    font-size: 15px !important;
    text-align: center;
  }

  footer {
    h5 {
      font-size: 20px !important;
      font-weight: 700;
      padding: 5px;
    }
  }

  footer h5:after {
    width: 50% !important;
    right: 25%;
    height: 3px;
    top: 100%;
  }

  .footer-img {
    margin-top: 20px;
    margin-bottom: 25px !important;

    img {
      margin: 8px;
    }
  }
}

@include desktop {
  footer {
    margin-top: 150px;

    li {
      margin: 25px 0 !important;
    }

    .container .row {
      justify-content: space-between;

      div:nth-child(3) {
        display: none;
      }
    }
  }
}
