footer,
.copyrights {
  background-color: $footer-color !important;
  border-radius: 50px 50px 0 0;
  .row div:nth-child(1) {
    div::before {
      display: block;
      content: "شارك تابع قيم صوتك مسموع على";
      font-size: 16px;
      font-weight: 800;
      padding-bottom: 15px;
    }

    margin-bottom: 20px;
    i::before {
      font-size: 20px;
    }
  }
}

@include mobile {
  footer * {
    font-size: 15px !important;
    text-align: center;
  }

  footer {
    h5 {
      font-size: 20px !important;
      font-weight: 700;
      padding: 5px;
    }

    .row div:nth-child(1) {
      div::before {
        display: block;
        content: "شارك تابع قيم صوتك مسموع على";
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 15px;
      }

      margin-bottom: 20px;
      i::before {
        font-size: 20px;
      }
    }
  }

  footer h5:after {
    width: 50% !important;
    right: 25%;
    height: 3px;
    top: 100%;
  }

  .footer-img {
    margin-top: 20px;
    margin-bottom: 25px !important;

    img {
      margin: 8px;
    }
  }
}

@include desktop {
  footer {
    margin-top: 150px;

    li {
      margin: 25px 0 !important;
    }

    .container .row {
      justify-content: space-between;

      div:nth-child(3) {
        display: none;
      }
    }
  }
}
