@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
html,
body,
nav.nav.main > ul > li > a,
.block-title h1,
.block-title h2,
h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif;
}

@media screen and (max-width: 489px) {
  .sections-title {
    color: #bc9961 !important;
  }
}

@media screen and (max-width: 489px) {
  .zid-item .producttitle {
    font-size: 22px;
    color: #cdaa73 !important;
    font-weight: 600 !important;
    text-align: center;
  }
  .zid-item .price {
    text-align: center;
    direction: rtl;
    color: #cdaa73 !important;
  }
  .zid-item .options {
    text-align: center;
  }
}

@media screen and (max-width: 489px) {
  .z-page-container {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 489px) {
  .logo-bar img {
    width: 27px;
    height: 27px;
    margin: 6px 7px -3px 8px;
  }
  .logo-bar ::before {
    content: "";
    height: 40px;
    width: 40px;
    background-image: url("https://media.zid.store/cdn-cgi/image/f=auto/https://media.zid.store/2db691b2-5c13-4682-bf0a-6ea8160a5687/963225d1-2042-4e0c-ba44-f1ca0a4a5ec0.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
  }
  .logo-bar b {
    display: none;
    font-size: 2rem;
    font-weight: 900;
  }
  .navbar.navbar-sticky {
    box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    background: #bc9961;
    background: linear-gradient(320deg, #cdaa73 45%, #bc9961 0%);
  }
  .header .search-bar .results,
  .header .search-bar input {
    border: 1px solid #dac3a0;
  }
  .icon-search:before {
    content: "\e90a";
    color: #dac3a0;
  }
  .search-bar input {
    line-height: 35px;
    border-radius: 15px;
  }
  .icon-local_grocery_store:before,
  .icon-menu:before {
    color: white;
  }
  .zid-shopping-basket-count {
    background: green !important;
  }
}

.slider-hero-slider .slick-slide {
  height: 65vw;
}

.slider-hero-slider .slick-slide > div {
  height: inherit;
}

.hero-slider .slide {
  display: block;
  width: 100%;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex !important;
  width: 95% !important;
  margin: 0 auto;
  border: 2px solid #bc9961;
  border-radius: 15px;
}

@media screen and (max-width: 489px) {
  .section-promo-image {
    background-size: contain !important;
  }
  #promo-image-button {
    height: 38px;
    line-height: 35px;
    margin-top: 10px;
    padding: 0 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white !important;
    color: #cdaa73 !important;
    border: 1.5px ​solid #cdaa73 !important;
  }
  #promo-image h2 {
    padding-top: 15px;
  }
  #promo-image p:last-child {
    margin: 0 0 40px !important;
  }
}

@media screen and (max-width: 489px) {
  .section-store-description {
    background: #bc9961;
    background: linear-gradient(250deg, #cdaa73 50%, #bc9961 0%);
  }
}

@media screen and (max-width: 489px) {
  #featured {
    padding: 27px 0px 0 0;
    background: rgba(235, 235, 235, 0.2);
    margin: 17px 10px;
    border-radius: 20px;
  }
  .shop-item {
    width: 100%;
    margin-bottom: 0px;
  }
  .zid-add-to-cart-btn {
    border: 0;
    width: 100%;
    margin: 0 !important;
    font-size: 16px;
    font-weight: 500;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 45px;
    background-color: #cdaa73 !important;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .zid-item .panel-body img {
    border-radius: 15px 15px 0 0;
  }
  .shop-item .shop-thumbnail {
    border-radius: 15px;
  }
  .z-product-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 489px) {
  .section-featured-categories .slick-track {
    transform: none !important;
    width: 370px !important;
    transition: unset !important;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 5px;

    display: grid !important;

    grid-template-columns: auto auto auto auto !important;
  }
  .section-featured-categories .slick-arrow {
    display: none !important;
  }
  .zid-item .cattitle {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #cdaa73 !important;
    margin-bottom: 0 !important;
  }
  .zid-category .product-category-img {
    width: 60px !important;
    height: 60px !important;
  }
  .zid-category .panel-body,
  .zid-category .slick-slide {
    width: 60px !important;
  }
  .zid-category .slick-list > ::before {
    display: none !important;
  }
  .zid-category .slick-list {
    overflow: visible;

    display: flex !important;
  }
}

@media screen and (max-width: 489px) {
  .section-about-us {
    align-items: center;
  }
  .section-about-us h1 {
    font-size: 21px;
    color: #cdaa73;
  }
  .section-about-us p {
    text-align: center;
    margin: 0 0 10px;
  }
  .payment-links {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }
  p:first-of-type {
    order: 1;
    margin-bottom: 10px;
  }
  .z-footer {
    border-radius: 30px 30px 0 0;
    border-top: 5px solid #cdaa73;
  }
  .z-footer .row div:last-child {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 489px) {
  .cover-highlighted-section {
    background-color: rgba(0, 0, 0, 0);
  }
  .cover-title {
    font-size: 27px;
    font-weight: 600;
  }
  .cover-description {
    padding: 0 15px;
  }
  .cover-highlighted-section {
    padding-top: 1.5em;
  }
  .cover-highlighted-section h1 {
    margin-bottom: 10px;
  }
  .featured-image {
    height: 150px !important;
  }
}

@media screen and (max-width: 489px) {
  .product-view-img {
    border-radius: 10px;
  }
  .fw-section .product-title {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 600;
    color: #cdaa73;
  }
  .fw-section #product-price {
    font-weight: 600 !important;
    color: #0d879f !important;
  }
  .fw-section .product-meta .product-sku:last-of-type span {
    font-weight: 600;
    color: #bc9961 !important;
    font-size: 20px;
  }
  .fw-section .product-meta .product-sku:first-of-type {
    display: none;
  }
  .fw-section .product-meta {
    display: none;
  }
  .fw-section .product-meta + div {
    margin-top: -10px;
  }
  .fw-section .form-element::before {
    display: none;
  }
  .fw-section .product-share {
    margin-top: 10px;
  }
  #description-options-section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .nav-tabs {
    margin-bottom: 11px;
    margin-top: -15px !important;
  }
  #description-tab {
    text-align: center !important;
  }
  #description-tab * {
    font-family: "Almarai", "Cairo", "Effra-R", sans-serif;
    background: none !important;
  }
  #description-tab h1:first-child * {
    margin-bottom: 0 !important;
    color: #8d5da7 !important;
    font-weight: 600;
  }
  #description-tab h2:first-of-type * {
    color: black !important;
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  #description-tab .nav-tabs > li > a {
    padding: 5px 20px;
    margin-top: 10px;
  }
  .sold_products_count {
    margin-bottom: 15px !important;
  }
  .z-product-card {
    margin-bottom: 25px;
  }
  .z-product-view section:last-of-type {
    padding-bottom: 0 !important;
  }
}
