@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
html,
body,
nav.nav.main > ul > li > a,
.block-title h1,
.block-title h2,
h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif;
}

@media screen and (max-width: 489px) {
  .sections-title {
    color: #906d3a !important;
  }
}

@media screen and (max-width: 489px) {
  .zid-item .producttitle {
    font-size: 22px;
    color: black !important;
    font-weight: 600 !important;
    text-align: center;
  }
  .zid-item .price {
    text-align: center;
    direction: rtl;
  }
  .zid-item .options {
    text-align: center;
  }
}

@media screen and (max-width: 489px) {
  .z-page-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 489px) {
  .logo-bar b {
    display: none;
    font-size: 2rem;
    font-weight: 900;
  }
  .navbar.navbar-sticky {
    box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    background: #906d3a;
    background: linear-gradient(320deg, #a28255 45%, #906d3a 0%);
  }
  .header .search-bar .results,
  .header .search-bar input {
    border: 1px solid #cba876;
  }
  .icon-search:before {
    content: "\e90a";
    color: #cba876;
  }
  .search-bar input {
    line-height: 35px;
    border-radius: 15px;
  }
  .icon-local_grocery_store:before,
  .icon-menu:before {
    color: white;
  }
}

@media screen and (max-width: 489px) {
  .hero-slider .slide {
    display: block;
    width: 100%;
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex !important;
    width: 95% !important;
    margin: 0 auto;
    border: 2px solid #906d3a;
    border-radius: 15px;
  }
  .slider-hero-slider .slick-slide {
    height: 175px;
  }
}

@media screen and (max-width: 489px) {
  .section-promo-image {
    background-size: contain !important;
  }
  #promo-image-button {
    height: 38px;
    line-height: 35px;
    margin-top: 10px;
    padding: 0 20px;
    border-radius: 10px;
  }
  #promo-image h2 {
    padding-top: 15px;
  }
  #promo-image p:last-child {
    margin: 0 0 40px !important;
  }
}

@media screen and (max-width: 489px) {
  .section-store-description {
    background: #906d3a;
    background: linear-gradient(250deg, #a28255 50%, #906d3a 0%);
  }
}

@media screen and (max-width: 489px) {
  #featured {
    padding: 27px 0px 0 0;
    background: rgba(235, 235, 235, 0.2);
    margin: 17px 10px;
    border-radius: 20px;
  }
  .shop-item {
    width: 100%;
    margin-bottom: 0px;
  }
  .zid-add-to-cart-btn {
    border: 0;
    width: 100%;
    margin: 0 !important;
    font-size: 16px;
    font-weight: 500;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 45px;
    background-color: #906d3a !important;
  }
  .zid-item .panel-body img {
    border-radius: 15px 15px 0 0;
  }
  .shop-item .shop-thumbnail {
    border-radius: 15px;
  }
  .z-product-card {
    border: none;
    border-radius: 15px;

    box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=theme.css.map */
