.main-sections-content {
  .top-header-bg {
    justify-content: start !important;
    padding-right: 30px;
    min-height: 130px !important;

    li:first-of-type {
      display: none;
    }

    li {
      color: $color-primary !important;
      font-size: 22px !important;
      font-weight: 800;
    }
  }

  .top-header-bg::after {
    display: none !important;
  }
}

// Pagination
.page-item {
  border: 1px solid $color-primary;
}

.page-link {
  margin: 0 !important;
}

.products {
  .slick-slide {
    .col-md-12 {
      padding: 10px;
    }
  }
}

.p-details {
  * {
    font-size: 15px;
  }
  .strong {
    display: flex;
    justify-content: center;
  }
  h2 {
    font-size: 25px !important;
    font-weight: 700;
    text-align: center;
  }
}
.product-details {
  .custome-label {
    justify-content: center;
  }
  .at-share-btn-elements {
    text-align: center !important;
  }
}

.product-info {
  .nav-link {
    font-size: 19px !important;
    font-weight: 600;
  }
  .nav-tabs {
    justify-content: center;
  }
  .description-tab {
    h1 * {
      font-size: 25px !important;
      font-weight: 600 !important;
      margin-bottom: 20px !important;
    }

    * {
      font-size: 18px !important;
      text-align: center;
    }
  }
}

div#pagingInfo {
  margin-left: auto !important;
}

@include desktop {
  .main-sections-content {
    .top-header-bg {
      min-height: 245px !important;
    }
  }

  .main-sections-content .top-header-bg li {
    font-size: 45px !important;
  }

  .main-sections-content .product-wrapper div {
    margin-bottom: 50px !important;
  }

  .main-sections-content section::after {
    width: 63% !important;
  }

  .p-details {
    * {
      font-size: 25px !important;
    }

    h2 {
      font-size: 40px !important;
      padding-bottom: 30px;
    }
  }

  .main-sections-content {
    .add-to-cart-container {
      justify-content: space-between;
      margin-top: 35px !important;
    }

    #product-quantity {
      height: 50px !important;
      font-size: 29px !important;
      font-weight: 700;
    }
  }

  .product-info {
    .nav-link {
      font-size: 30px !important;
    }
    .description-tab {
      h1 * {
        font-size: 30px !important;
      }

      * {
        font-size: 26px !important;
      }
    }
  }
}
