@include mobile {
  .logo-bar img {
    width: 27px;
    height: 27px;
    margin: 6px 7px -3px 8px;
  }

  .logo-bar ::before {
    content: "";
    height: 40px;
    width: 40px;
    background-image: url("https://media.zid.store/cdn-cgi/image/f=auto/https://media.zid.store/2db691b2-5c13-4682-bf0a-6ea8160a5687/963225d1-2042-4e0c-ba44-f1ca0a4a5ec0.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
  }

  .logo-bar b {
    display: none;
    font-size: 2rem;
    font-weight: 900;
  }

  .navbar.navbar-sticky {
    box-shadow: 0 4px 3px 0px $background-color-transparent;
    border-radius: 0 0 20px 20px;
    background: $color-main-light;
    background: linear-gradient(
      320deg,
      rgba($color-secondary-dark, 1) 45%,
      rgba($color-main-light, 1) 0%
    );
  }

  //   Search Bar
  .header .search-bar .results,
  .header .search-bar input {
    border: 1px solid $color-secondary-light;
  }

  .icon-search:before {
    content: "\e90a";
    color: $color-secondary-light;
  }

  .search-bar input {
    line-height: 35px;
    border-radius: 15px;
  }

  // Icons
  .icon-local_grocery_store:before,
  .icon-menu:before {
    color: $color-white;
  }
}
