.icon-menu_open_black_24dp-1:before,
.icon-search:before,
.header-theme-icon-primary {
  color: $color-secondary;
}

.header-theme-bg-primary {
  background-color: white;
}

.cart-badge {
  width: 20px;
  height: 20px;
  font-size: 12px !important;
}
