.section-title {
  font-family: $font-title !important;
  color: $color-on-primary !important;
  // text-align: right !important;
  font-weight: 900;
  font-size: 1.6rem !important;
}

.section-padding-space {
  padding-bottom: 20px !important;
}

.product-item .product-title {
  font-weight: 900;
}

.product-item .product-price {
  font-weight: 900 !important;
  color: $color-on-primary !important;
}

// Customer testimonial
.rtl .testimonials-customer-name {
  white-space: initial;
  font-weight: 700;
}

.testimonials-customer-text {
  font-size: 1.1rem;
  line-height: 1.7;
}

.home {
  &-products-section:first-child {
    background-color: red !important;
  }
}

.home-products-section:first-of-type {
  padding-bottom: 0 !important;
  margin-top: -25px;
  margin-bottom: -15px;
  text-align: center !important;

  h1 {
    margin-bottom: 0 !important;
  }
}

.app-content .subTitle-detail {
  background-color: $color-on-primary;

  * {
    color: white;
  }

  p {
    font-weight: 400;
  }

  h1 {
    font-weight: bold;
  }
}

.category-products-display-more-section {
  text-align: left !important;
  margin-left: 29px;
  margin-top: 2rem !important;

  button.more-button,
  a.more-button {
    min-width: 90px;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #caa976;
    padding: 3px;
  }
}
