body {
  background-image: url("https://media.zid.store/thumbs/2db691b2-5c13-4682-bf0a-6ea8160a5687/5ce9ae64-d0b8-4168-910e-1b3673c1cbcd-thumbnail-500x500.png");
  background-size: 130px !important;
  // background-image: url("https://media.zid.store/2db691b2-5c13-4682-bf0a-6ea8160a5687/6873a924-96a3-42e3-b374-6ebee2db3d26.jpg"); // Spices background
  // background-size: 500px;
}

@include mobile {
  body {
    background-size: 130px !important;
    // background-size: 400px;
  }
}
