.products > .container {
  display: flex !important;
  flex-direction: column !important;

  .section-title {
    margin: 25px auto !important;

    h2,
    a {
      font-size: 20px;
      font-weight: 800 !important;
    }
  }
}

.section-title h2,
.section-title h2 a {
  font-weight: 800 !important;
  color: $color-primary !important;
}

@include desktop {
  .section-title h2,
  .section-title h2 a {
    font-size: 30px !important;
  }
}

@include mobile {
  .products > .container {
    .section-title {
      font-size: 20px;
      font-weight: 800 !important;
      margin: 0 auto !important;
    }
  }
  .section-title h2,
  .section-title h2 a {
    font-size: 20px;
  }

  .categories-section .row {
    display: grid !important;
    grid-template-columns: auto auto;

    .col-6 {
      padding: 7px !important;
      max-width: 100% !important;
      h3 {
        font-weight: 800 !important;
      }
    }
  }

  .category-item img {
    height: 100% !important;
    width: 125px;
  }

  .categories-section {
    margin-bottom: 25px;
  }

  .loadmore a {
    margin: 0 0 40px 5px;
    min-height: 35px;
    font-size: 17px;
  }
}

@include desktop {
  .loadmore a {
    padding: 0 4.5rem !important;
    margin: 5px 0 0 5px;
  }

  .categories-section .row .col-6 {
    max-width: 100% !important;

    h3 {
      font-size: 22px !important;
    }
  }
}
.loadmore {
  text-align: left;

  a {
    border-radius: 12px;
    min-width: auto;
    background: $color-primary;
    color: white;
    border: none;
  }
}

.slick-dots {
  bottom: -70px !important;
}

@include desktop {
  .products > .container .section-title {
    margin: 70px auto 25px auto !important;
  }
}
