.product-entry > div.entry-meta small {
  color: $color-sucess !important;
}
.products-container {
  .filter-buttons-container {
    display: flex;
    justify-content: center;
    gap: 5px;

    .filter-block-space {
      margin: 0;
    }
  }

  .products-archive-container {
    @include breakpoint-multiple(576px, 767px) {
      gap: 25px 0;
    }

    .product-entry {
      margin-bottom: 60px;
    }
    .product-entry::after {
      height: 110%;
      width: 105%;
      left: 0;

      @include breakpoint-multiple(576px, 767px) {
        height: 460px;
      }
    }

    .product-entry > div.entry-thumb {
      span {
        right: 0 !important;

        @include breakpoint-down-uni(575px) {
          top: 65vw !important;
        }
      }
    }

    .quick-add {
      position: absolute;
      bottom: -15px;
    }

    @include mobile {
      .discount:before {
        left: 0px !important;
        top: 28vw;

        @include breakpoint-down-uni(575px) {
          top: 65vw;
        }
      }
    }
  }
}
