@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
html,
body,
nav.nav.main > ul > li > a,
.block-title h1,
.block-title h2,
h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif !important;
}

@media screen and (max-width: 489px) {
  body {
    background-size: 400px;
  }
}
.icon-menu_open_black_24dp-1:before,
.icon-search:before,
.header-theme-icon-primary {
  color: #caa976;
}

.header-theme-bg-primary {
  background-color: white;
}

.cart-badge {
  width: 20px;
  height: 20px;
  font-size: 12px !important;
}

@media screen and (min-width: 1023px) {
  .cart-header-total {
    margin-top: 20px;
    color: #caa976 !important;
    font-weight: bold;
  }
  .account-lang-currency * {
    color: #caa976 !important;
    font-weight: bold;
  }
  .gallery-section > .gallery {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px !important;
  }
  .gallery-section > .gallery .gallery-item {
    max-width: 25% !important;
    margin-top: 0 !important;
  }
  .slick-arrow {
    top: 25% !important;
  }
}

.section-title {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif !important;
  color: #caa976 !important;
  font-weight: 900;
  font-size: 1.6rem !important;
}

.section-padding-space {
  padding-bottom: 20px !important;
}

.product-item .product-title {
  font-weight: 900;
}

.product-item .product-price {
  font-weight: 900 !important;
  color: #caa976 !important;
}

.rtl .testimonials-customer-name {
  white-space: initial;
  font-weight: 700;
}

.testimonials-customer-text {
  font-size: 1.1rem;
  line-height: 1.7;
}

.home-products-section:first-child {
  background-color: red !important;
}

.home-products-section:first-of-type {
  padding-bottom: 0 !important;
  margin-top: -25px;
  margin-bottom: -15px;
  text-align: center !important;
}

.home-products-section:first-of-type h1 {
  margin-bottom: 0 !important;
}

.app-content .subTitle-detail {
  background-color: #caa976;
}

.app-content .subTitle-detail * {
  color: white;
}

.app-content .subTitle-detail p {
  font-weight: 400;
}

.app-content .subTitle-detail h1 {
  font-weight: bold;
}

.category-products-display-more-section {
  text-align: left !important;
  margin-left: 29px;
  margin-top: 2rem !important;
}

.category-products-display-more-section button.more-button,
.category-products-display-more-section a.more-button {
  min-width: 90px;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid #caa976;
  padding: 3px;
}

.main-slider .slick-dots {
  display: none !important;
}

.footer {
  padding: 15px 0;
}

.footer .footer-theme-bg-primary {
  background-color: #caa976;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  text-align: center;
}

.footer p {
  font-size: 1rem;
}

.footer h1 {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif;
  font-size: 1.2rem;
}

.footer .store-section .social-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer h1 {
  font-size: 1.4rem !important;
}

@media screen and (min-width: 1023px) {
  .footer-about-us-links-div * {
    line-height: 2 !important;
  }
}
/*# sourceMappingURL=main.css.map */