.categories-section .container {
  display: flex;
  flex-direction: column;

  .section-title ~ div {
    justify-content: center;
  }

  @include mobile {
    .section-title {
      margin: 25px auto;
      font-size: 20px;
      font-weight: 800 !important;
    }

    .category-item {
      h3 {
        font-size: 18px !important;
        font-weight: 800 !important;
      }
      img {
        box-shadow: none !important;
        width: 150px !important;
      }
    }
  }

  @include desktop {
    .section-title ~ div {
      gap: 30px;
    }

    .section-title {
      margin: 70px auto 25px auto !important;
      font-size: 20px;
      font-weight: 800 !important;
    }

    .category-item {
      h3 {
        font-size: 18px !important;
        font-weight: 600 !important;
      }

      img {
        box-shadow: none !important;
        width: 155px !important;
        height: 155px !important;
      }
    }
  }
}
