.slick-slide > div ::after {
  display: none;
}

@include mobile {
  .home-slider-item {
    min-height: 185px !important;
  }
}

.home-slider-item {
  a {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: none;
  }

  .btn-green:hover {
    background: none !important;
    color: none !important;
  }
}
