@include mobile {
  .zid-item .producttitle {
    font-size: 22px;
    color: $color-main-dark !important;
    font-weight: 600 !important;
    text-align: center;
  }

  .zid-item .price {
    text-align: center;
    direction: rtl;
  }

  .zid-item .options {
    text-align: center;
  }
}
