// Product entry Box

.product-entry {
  margin-bottom: 60px;
}
.product-entry > div.entry-thumb {
  opacity: 1;
  overflow: visible;
}

@include mobile {
  .product-entry::after {
    content: "";
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: -5px;
    border-radius: 15px;
    z-index: -100;
    transform: translate(-6px, -4px);
    border: 1px solid $color-secondary-dark;
  }
}

.entry-price {
  flex-direction: column !important;
  gap: 5px !important;
  margin: 0;
  span {
    margin: 0 !important;
  }

  .old {
    font-size: 1.1rem !important;
  }
  .text-color-primary {
    font-size: 1.4rem !important;
  }
}

@include mobile {
  .product-entry.new:before,
  .product-entry.discount:before,
  .product-entry.out-of-stock:before {
    min-width: 70px !important;
    height: 30px !important;
    border-radius: 5px !important;
    background-color: $color-dicsount-red !important;
    padding: 0 5px !important;
    font-family: $myFonts;
  }

  .product-low-stock-position {
    top: 235px !important;
    height: 30px !important;
    line-height: 2 !important;
    border-radius: 5px !important;
    border: 1px solid $color-secondary-light !important;
    right: 6px !important;
  }
}

.product-entry > div.entry-thumb {
  margin-bottom: 40px;
}

.product-entry > div.entry-thumb > .entry-thumb-container > a > img {
  border-radius: 10px;
}

.entry-thumb-container button {
  display: none !important;
  visibility: hidden !important;
}
