// Variables
/////////////////////
$color-main-light: #906d3a;
$color-main-dark: black;
$color-secondary-dark: #a28255;
$color-secondary-light: #cba876;
$color-grey: #ebebeb;
$color-grey-facebook: #e3e5e9;
$color-black: black;
$color-white: white;
$color-bg: #926626;
$color-zid-purple: #8d5da7;
$color-add-to-cart: white;
$color-dicsount-red: #f25f5f;

$background-color-transparent: rgba($color-main-dark, 0.1);

//////////////////////
$myFonts: "Almarai", "Cairo", "Effra-R", sans-serif;
//////////////////////

// Shadow
$shadow-1: 4px 7px 15px -4px rgba(0, 0, 0, 0.7);
$shadow-2: 3px 5px 10px rgba(black, 0.35);
$shadow-3: 3px 5px 10px rgba(black, 0.2);

// Breakpoints
