// Variables

$color-main-light: #bc9961;
$color-main-dark: black;
$color-secondary-dark: #cdaa73;
$color-secondary-light: #dac3a0;
$color-grey: #ebebeb;
$color-grey-facebook: #e3e5e9;
$color-black: black;
$color-white: white;
$color-bg: #bc9961;
$color-zid-purple: #8d5da7;
$color-add-to-cart: white;
$color-dicsount-red: #f25f5f;
$color-sucess: #076e00;

$background-color-transparent: rgba($color-main-dark, 0.1);

$myFonts: "Almarai", "Cairo", "Effra-R", sans-serif;

// Shadow
$shadow-1: 4px 7px 15px -4px rgba(0, 0, 0, 0.7);
$shadow-2: 3px 5px 10px rgba(black, 0.35);
$shadow-3: 3px 5px 10px rgba(black, 0.2);

// Breakpoints
