@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
html,
body,
nav.nav.main > ul > li > a,
.block-title h1,
.block-title h2,
h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Almarai", "Cairo", "Effra-R", sans-serif;
}

@media screen and (max-width: 489px) {
  .navbar-brand > img {
    max-width: 55%;
  }
}

.categories-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories-section .container .section-title ~ div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 489px) {
  .categories-section .container .section-title {
    margin: 25px auto;
    font-size: 20px;
    font-weight: 800 !important;
  }
  .categories-section .container .category-item h3 {
    font-size: 18px !important;
    font-weight: 800 !important;
  }
  .categories-section .container .category-item img {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: 150px !important;
  }
}

@media screen and (min-width: 1023px) {
  .categories-section .container .section-title ~ div {
    gap: 30px;
  }
  .categories-section .container .section-title {
    margin: 70px auto 25px auto !important;
    font-size: 20px;
    font-weight: 800 !important;
  }
  .categories-section .container .category-item h3 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .categories-section .container .category-item img {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: 155px !important;
    height: 155px !important;
  }
}

.card-img-top {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px !important;
}

.counter .input-group span,
.counter .input-group input {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.card-body {
  padding: 1.25rem 0 0 0 !important;
}

.card-body * {
  font-size: 15px;
}

.card-body .card-price {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-body .multiple-choices > a {
  height: 30px !important;
  padding: 0 !important;
  font-size: 15px;
}

.card-body .input-group > .form-control:not(:last-child):not(:first-child) {
  height: 31px;
  font-size: 20px;
}

.card-body .counter .input-group .btn-primary {
  margin-right: 0 !important;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: #00998a;
  color: white;
  border-color: #00998a;
  padding: 0;
  font-size: 15px;
}

.card-body .counter {
  margin: 10px 0 !important;
}

.products-slider .slick-control {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

.products-slider .item,
#bunddle_offer_products .item {
  padding: 7px;
}

@media screen and (max-width: 489px) {
  .products-slider .slick-control {
    top: calc(24% - 25px);
  }
}

@media screen and (min-width: 1023px) {
  .products-slider .slick-control {
    top: calc(24% - 0px);
    height: 60px;
    width: 60px;
    z-index: 1000;
    border-radius: 100px;
  }
  .card-body * {
    font-size: 22px !important;
  }
  .card-body .multiple-choices > a {
    height: 45px !important;
    padding: 0 !important;
    font-size: 25px;
  }
  .card-body .counter .input-group .btn-primary {
    height: 45px !important;
    margin-top: 15px;
  }
  .card-body .input-group > .form-control:not(:last-child):not(:first-child) {
    height: 45px;
    font-size: 25px !important;
    font-weight: 600;
  }
  .card-body .input-group > .input-group-prepend > .btn,
  .card-body .input-group > .input-group-append:not(:last-child) > .btn {
    padding: 0.375rem 1.5rem;
  }
}

.products > .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.products > .container .section-title {
  margin: 25px auto !important;
}

.products > .container .section-title h2,
.products > .container .section-title a {
  font-size: 20px;
  font-weight: 800 !important;
}

.section-title h2,
.section-title h2 a {
  font-weight: 800 !important;
  color: #00998a !important;
}

@media screen and (min-width: 1023px) {
  .section-title h2,
  .section-title h2 a {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 489px) {
  .products > .container .section-title {
    font-size: 20px;
    font-weight: 800 !important;
    margin: 0 auto !important;
  }
  .section-title h2,
  .section-title h2 a {
    font-size: 20px;
  }
  .categories-section .row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .categories-section .row .col-6 {
    padding: 7px !important;
    max-width: 100% !important;
  }
  .categories-section .row .col-6 h3 {
    font-weight: 800 !important;
  }
  .category-item img {
    height: 100% !important;
    width: 125px;
  }
  .categories-section {
    margin-bottom: 25px;
  }
  .loadmore a {
    margin: 0 0 40px 5px;
    min-height: 35px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1023px) {
  .loadmore a {
    padding: 0 4.5rem !important;
    margin: 5px 0 0 5px;
  }
  .categories-section .row .col-6 {
    max-width: 100% !important;
  }
  .categories-section .row .col-6 h3 {
    font-size: 22px !important;
  }
}

.loadmore {
  text-align: left;
}

.loadmore a {
  border-radius: 12px;
  min-width: auto;
  background: #00998a;
  color: white;
  border: none;
}

.slick-dots {
  bottom: -70px !important;
}

@media screen and (min-width: 1023px) {
  .products > .container .section-title {
    margin: 70px auto 25px auto !important;
  }
}

.slick-slide > div ::after {
  display: none;
}

@media screen and (max-width: 489px) {
  .home-slider-item {
    min-height: 185px !important;
  }
}

@media screen and (min-width: 1023px) {
  .top-slider {
    padding: 45px 0;
  }
}

.home-slider-item a {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: none;
}

.home-slider-item .btn-green:hover {
  background: none !important;
  color: none !important;
}

footer,
.copyrights {
  background-color: rgba(191, 206, 222, 0.3) !important;
  border-radius: 50px 50px 0 0;
}

footer .row div:nth-child(1),
.copyrights .row div:nth-child(1) {
  margin-bottom: 20px;
}

footer .row div:nth-child(1) div::before,
.copyrights .row div:nth-child(1) div::before {
  display: block;
  content: "شارك تابع قيم صوتك مسموع على";
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 15px;
}

footer .row div:nth-child(1) i::before,
.copyrights .row div:nth-child(1) i::before {
  font-size: 20px;
}

@media screen and (max-width: 489px) {
  footer * {
    font-size: 15px !important;
    text-align: center;
  }
  footer h5 {
    font-size: 20px !important;
    font-weight: 700;
    padding: 5px;
  }
  footer .row div:nth-child(1) {
    margin-bottom: 20px;
  }
  footer .row div:nth-child(1) div::before {
    display: block;
    content: "شارك تابع قيم صوتك مسموع على";
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 15px;
  }
  footer .row div:nth-child(1) i::before {
    font-size: 20px;
  }
  footer h5:after {
    width: 50% !important;
    right: 25%;
    height: 3px;
    top: 100%;
  }
  .footer-img {
    margin-top: 20px;
    margin-bottom: 25px !important;
  }
  .footer-img img {
    margin: 8px;
  }
}

@media screen and (min-width: 1023px) {
  footer {
    margin-top: 150px;
  }
  footer li {
    margin: 25px 0 !important;
  }
  footer .container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .row div:nth-child(3) {
    display: none;
  }
}

.main-sections-content .top-header-bg {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  padding-right: 30px;
  min-height: 130px !important;
}

.main-sections-content .top-header-bg li:first-of-type {
  display: none;
}

.main-sections-content .top-header-bg li {
  color: #00998a !important;
  font-size: 22px !important;
  font-weight: 800;
}

.main-sections-content .top-header-bg::after {
  display: none !important;
}

.page-item {
  border: 1px solid #00998a;
}

.page-link {
  margin: 0 !important;
}

.products .slick-slide .col-md-12 {
  padding: 10px;
}

.p-details * {
  font-size: 15px;
}

.p-details .strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-details h2 {
  font-size: 25px !important;
  font-weight: 700;
  text-align: center;
}

.product-details .custome-label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-details .at-share-btn-elements {
  text-align: center !important;
}

.product-info .nav-link {
  font-size: 19px !important;
  font-weight: 600;
}

.product-info .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-info .description-tab h1 * {
  font-size: 25px !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
}

.product-info .description-tab * {
  font-size: 18px !important;
  text-align: center;
}

div#pagingInfo {
  margin-left: auto !important;
}

@media screen and (min-width: 1023px) {
  .main-sections-content .top-header-bg {
    min-height: 245px !important;
  }
  .main-sections-content .top-header-bg li {
    font-size: 45px !important;
  }
  .main-sections-content .product-wrapper div {
    margin-bottom: 50px !important;
  }
  .main-sections-content section::after {
    width: 63% !important;
  }
  .p-details * {
    font-size: 25px !important;
  }
  .p-details h2 {
    font-size: 40px !important;
    padding-bottom: 30px;
  }
  .main-sections-content .add-to-cart-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px !important;
  }
  .main-sections-content #product-quantity {
    height: 50px !important;
    font-size: 29px !important;
    font-weight: 700;
  }
  .product-info .nav-link {
    font-size: 30px !important;
  }
  .product-info .description-tab h1 * {
    font-size: 30px !important;
  }
  .product-info .description-tab * {
    font-size: 26px !important;
  }
}

body {
  background-image: url("https://media.zid.store/thumbs/2db691b2-5c13-4682-bf0a-6ea8160a5687/b160db4f-ca37-4c5e-b592-bb5dee083c31-thumbnail-500x500.png");
  background-size: 190px !important;
}

@media screen and (max-width: 489px) {
  body {
    background-size: 190px !important;
  }
}
/*# sourceMappingURL=theme.css.map */